<!DOCTYPE html>
<html>

<head>
    <title>My Title</title>
    <meta name="description" content="Title description">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.johnvincent.io/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://www.johnvincent.io/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://www.johnvincent.io/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://www.johnvincent.io/favicons/manifest.json">
    <link rel="mask-icon" href="https://www.johnvincent.io/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://www.johnvincent.io/favicons/favicon.ico">
    <meta name="msapplication-config" content="https://www.johnvincent.io/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Content Editor</h1>
        </header>
        <main>
            <h2>Home Content</h2>
            <section id="home"></section>

            <h2>Locations Content</h2>
            <section id="locations"></section>
        </main>
    </div>
    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script src="/js/content.js"></script>
</body>

</html>
