
$color-white: #fff;
$color-black: #000;

$main-color: #26AFEB;
$alt-color: #FF951F;

$text-color: $color-black;

// Header

$header-color: $main-color;
$header-hover-color: $alt-color;

// Body

$body-background-color: $color-white;

// Groups

$group-from-background-color: $color-white;
$group-to-background-color: #ebebeb;

// Search

$search-to-background-color: #f3f3f3;
$search-title-color: #777;

// Icons

$group-icon-color: $main-color;

$up-arrow-background-color: #b0b0b0;
$up-arrow-color: $color-white;
